body {
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bcg.gif");
}
main {
    display: flex;
    flex-direction: column;
    margin: calc(20% - 150px) auto;
    width: fit-content;
    justify-items: center;
    color: #fff;
    border: 1px solid #cecece;
    padding: 2rem;
    border-radius: 0.125rem;
    box-shadow: #000000 0px 2px 3px -3px;
    background-color: #ffffff15;
}

div {
    display: flex;
    margin: auto;
    gap: 10px;
    height: fit-content;
}

a {
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #cecece;
    border-radius: 0.125rem;
    padding: 0.5rem;
    color: #fff;
    transition: ease .3s;
    width: fit-content;
    margin: 2vh auto;
    box-shadow: #000000 0px 2px 2px -3px;
    &:hover {
        background-color: #cecece;
        color: #00f;
    }
    &:visited {
        color: #fff;
        &:hover {
            color: #00f;
        }
    }
}

.ex1 {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: fit-content;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.125rem;
    box-shadow: #000000 0px 2px 3px -3px;
}

.ex1 form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1000px) {
    body {
        background-image: url("https://media.tenor.com/quko3O_E-DkAAAAM/kayn-league-of-legends.gif");
    }
}